<nav>
      <div class="nav-wrapper red darken-1">
        <a [routerLink]="['/']" class="brand-logo">CRM MEAN</a>
        <ul id="nav-mobile" class="right">
          <li [routerLinkActive]="'active'" *ngIf="!isRouteActive('/login')">
            <a [routerLink]="['/login']">Iniciar</a>
          </li>
          <li [routerLinkActive]="'active'" *ngIf="!isRouteActive('/register')">
            <a [routerLink]="['/register']">Registrarse</a>
          </li>
        </ul>
      </div>
    </nav>
    
    <div class="auth-block">
      <router-outlet></router-outlet>
    </div>
    